@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: green;
    color: white;
    padding: 20px;
    text-align: center;
}

h2 {
    text-align: center;
}

div {
    padding: 40%;
    align-items: center;
}

.barrita {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#botonMsj {
    text-align: center;
    align-items: center;
    color: black;
    background-color: greenyellow;
}

img {
    align-items: center;
    text-align: center;
    margin-left: 20px;
    margin-bottom: 20px;
}

nav a:hover {
    text-decoration: underline;
    color: black;
}


footer {
    text-align: center;
    font-size: small;
    color: white;
    border: solid black 1px;
    background-color: green;
    padding: 1px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

